
  <nav class="navbar navbar-light bg-light" style="padding: 0rem 0rem">
    <div class="d-flex justify-content-between align-items-baseline" style="width:100vw">
        <div class="p-2 bd-highlight" ></div>
        <div class="p-2 bd-highlight" ></div>
        <div class="p-2 bd-highlight" ></div>
        <div class="p-2 bd-highlight" >
                <img  src="{{ asset('images/User_icon.png')}}" style="width:25px;heigth:25px;">

            <span class="text-success" style="" >
            
                
                <b>En línea:</b>
                <span class="text-primary" style="color:#02387F !important;">
                    <b>{{app.session.get('nombre')}}</b>
                </span>
            </span> 
            <span class="text-danger text-center ml-auto mr-auto">
        </div>

        
        <div class="ml-auto p-2 bd-highlight">

            <b>
                {% if moduloCabecera is defined and moduloCabecera|length > 0 %}{{moduloCabecera}}{% endif %}
                {% if tituloCabecera is defined and tituloCabecera|length > 0 %}<span class='text-primary'>: {{tituloCabecera}}{% endif %}</span>
            </b>
            </span>

            {# <img src="/assets/images/logo-cediapp.png" class="img-fluid ml-auto mr-4 rounded" width="180" alt="Responsive image"> #}
            <button id="btnCerrarSesion" class="btn btn-outline-danger my-1 btn-sm mr-2" type="button">
            <img src="{{ asset('images/salir.png')}}" style="width:30px;heigth:auto" >
            
            </button>
            <button id="btnCambiarClave" class="btn btn-outline-warning my-1 btn-sm mr-2" type="button">
            <img src="{{ asset('images/pass.png')}}" style="width:30px;heigth:auto" >     
            </button>
        </div>

    </div>

  </nav>




<!-- Cambiar Clave modal -->
{#
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
    <label for="InputPassword1" class="font-weight-bold">Contraseña</label>
    <input type="password" class="form-control" id="InputPassword1" placeholder="Ingresa tu contraseña" required>
  </div>
  <div class="form-group">
    <label for="InputPassword2" class="font-weight-bold">Repite Tu Contraseña</label>
    <input type="password" class="form-control " id="InputPassword2" placeholder="Repite tu contraseña" required>
  </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>#}
  {# <hr style="width:100%;color:#282F52;height:4px;border:0px;padding:0px;margin:0px;background-color:red;">
  <div class="overlay"></div>

  <!-- Image and text -->
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="/docs/4.5/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
    </a>
  </nav> #}

  <script>
    var _urlCierreSession          = `{{ path('admin_logout') }}`; 
    var _urlCambiarClave           = `{{ path('password_reset_in_app') }}`;
    var _urlVerificarClaveAntigua  = `{{ path('password_validate_duplicate_in_app') }}`;
    var _urlCambiarClaveIndex = `{{ path('password_reset_in_app_index') }}`; 
    var user = `{{ app.session.get('id') }}`;
  </script>
