
  <!-- Main Menu HTML Code -->
  

  {# PROPIEDADES Y FONDO #}
  <div class='wsmenucontent overlapblackbg pm_buttoncolor wa-primary'></div>
  <div class='wsmenuexpandermain slideRight'>
    <div style='background-color:red;'>
      <a id='navToggle' class='animated-arrow slideLeft'>
      <!--<img src="public/images/x-icon.png">-->
        <span></span>
      </a>
    </div>
    <span class='callusicon text-center'></span>
  </div>

  {# MENU LATERAL #}
  <nav class='wsmenu slideLeft clearfix'>
    <ul class='mobile-sub wsmenu-list clearfix'>

      <!-- Logo -->
      <li class='border-white border-bottom'>
        <div class='logoforwhite'>
          <img src="{{ asset('images/logo-correos.png')}}" style="width:200px;height:auto" alt='Logo'>
        </div>
      </li>

      {% set menuPermisos = app.session.get('menuPermisos') %}

      {% for menu in menuPermisos %}
        {% if menu[0] is defined %}

          <!-- Elementos Sub Menu -->
          <li class='border-bottom bg-primary'>
            <a class='list-group-item' href='#'>
              <i class='{{menu[0].icono}}'></i>&nbsp;<b class='text-white'>{{menu[0].label}}</b>
            </a>
            <ul class='wsmenu-submenu'>
              <!-- Items Sub Menu -->
              {% for keyItemMenu, itemSubMenu in menu %}
                {% if keyItemMenu != 0 %}
                  {% if itemSubMenu.permisos['ver'] is defined %}
                    <li>
                      <a class='list-group-item font-weight-bold text-dark' href="{{ path(itemSubMenu.pathName) }}">
                        <i class="{{itemSubMenu.icono}}"></i>&nbsp;{{itemSubMenu.label}}
                      </a>
                    </li>
                  {% endif %}
                {% endif %}
              {% endfor %}
            </ul>
          </li>

        {% else %}
          {% for menuItem in menu %}
            {% if menuItem.permisos.ver is defined and menuItem.permisos.ver.permiso == 1 %}
              <li class='border-bottom bg-primary'>
              {# <li class='border-bottom {% if activo is defined and activo == 'usuarios' %} border-info-wa {% endif %}'> #}
                <a class='list-group-item' href="{{ path(menuItem.pathName) }}">
                  <i class="{{menuItem.icono}}"></i> <b style="color:#4F4F4F">{{menuItem.label}}</b>
                </a>
              </li>
            {% endif %}

          {% endfor %}
        {% endif %}
      {% endfor %}


    </ul>
        <div class='logoforwhite'>
          <img src="{{ asset('images/coopi.png')}}" alt='Logo' style="position: absolute; bottom: 0; left: 0">
        </div>
      
  </nav>
