

 <div class="d-flex justify-content-center"> 
    <div class="p-2 bd-highlight">
        <i class="fas fa-exclamation-circle fa-3x btn-outline-danger"></i>
    </div>
    <div class="p-2 bd-highlight">
    <p>Al cambiar tu contraseña seras redirigido al ingreso de usuario</p>
    </div>
</div>

 <div class="input-group">
    <input type="password" class="form-control" id="PreviousPassword" placeholder="Ingresa tu contraseña Actual" required>
    <div class="input-group-append passoriginal">
        <button id="seeoldpass" class="input-group-text passoriginal"><i class="fas fa-eye"></i></button>
    </div>
</div><br>
<div class="input-group">
    <input type="password" class="form-control" id="InputPassword1" placeholder="Ingresa tu contraseña" required>
    <div class="input-group-append pass1">
        <button id="seepass1" class="input-group-text"><i class="fas fa-eye"></i></button>
    </div>
</div><br> 
<div class="input-group">
    <input type="password" class="form-control " id="InputPassword2" placeholder="Repite tu contraseña" required>
    <div class="input-group-append">
        <button id="seepass2" class="input-group-text"><i class="fas fa-eye"></i></button>
    </div>
</div>

<div class="d-flex justify-content-between">
    <div class="p-2 bd-highlight">
        <button class="btn btn-primary " id="CambiarClave">Cambiar Contraseña</button>
    </div> 
    <div class="p-2 bd-highlight">
        <button class="btn btn-danger" data-dismiss="modal" aria-label="Close">Cancelar</button>
    </div> 
</div>
