{% extends 'base.html.twig' %}
{% block title %}Correos - modulo sin uso{% endblock %}
{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('js/login') }}
{% endblock stylesheets %}
{% block bodylogin %}
  <form class='form-signin' method='post'>
    {% if error %}
      {% if error.messageKey == 'Invalid credentials.' %}
        <div class="alert alert-danger">Credenciales no válidas.</div>
      {% else %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
      {% endif %}
    {% endif %}
    {% if app.token %}
      <div class="mb-3">
        You are logged in as {{ app.token.user.codigoDrogueria }}, <a href="{{ path('drogueria_logout') }}">Logout</a>
      </div>
    {% endif %}
    <img class='mb-4' src="{{ asset('imagess/logo-01.png')}}" alt="logo" width="300">
    <h1 class="h3 mb-3 font-weight-normal">Ingrese los datos para iniciar sesión</h1>
    <label class="sr-only" for="codigoDrogueria">Codigo de Drogueria</label>
    <input type="text" class='form-control mt-1' id="codigoDrogueria" name="codigoDrogueria" value="{{ last_username }}" placeholder="Código de Drogueria" required autofocus>
    <label for="inputPassword" class="sr-only">Clave</label>
    <input type="password" class='form-control mt-1' id="inputPassword" name="password" placeholder="Contraseña" required>
    <button type='button' id='btn-olvidoContrasenia' class='text-primary bg-transparent p-2 rounded border-0 w-100 text-center'>
      ¿Olvidaste la contraseña?
    </button>
    <button class='btn btn-lg btn-primary btn-block mt-2' type='submit'>Iniciar Sesión</button>
    <input type='hidden' name='_csrf_token' value="{{ csrf_token('authenticate') }}" >
    <p class='mt-5 mb-3 text-muted text-center'>Copyright &copy; 2020</p>
  </form>
  <!-- Modal Global -->
  <div class='modal fade' tabindex='-1' role='dialog' id='modalRestorePassword'>
    <div class='modal-dialog'>
      <div class='modal-content'>
        <div class='modal-header text-center text-info'>
          <h6 class='modal-title font-weight-bold' id='tituloRestorePassword'>...</h6>
          <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
            <span aria-hidden='true'>&times;</span>
          </button>
        </div>
        <div class='modal-body' id='contenidoRestorePassword'>
          <form id='form-restorePassword'>
            <div class='form-group'>
              <label for='email'>Correo electrónico</label>
              <input type='email' class='form-control' id='email' name='email' placeholder='Email' aria-describedby='emailHelp'>
            </div>
            <div class='form-group'>
              <button class='btn btn-lg btn-primary btn-block mt-2' type='submit'>Iniciar Sesión</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


{% endblock %}

{% block javascripts %}
<script>
    var forgotPassword = `{{ path('password_forgot') }}`;
</script>
  {{ parent() }}
  {{ encore_entry_script_tags('js/login') }}
{% endblock %}