{% extends 'baseLogin.html.twig' %}
{% block title %}Correos Masivos{% endblock %}
{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('js/login') }}
{% endblock stylesheets %}
{% block bodylogin %}
  <form class='form-signin' method='post'>
    {% if error %}
      {% if error.messageKey == 'Invalid credentials.' %}
        <div class="alert alert-danger">Credenciales no válidas.</div>
      {% else %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
      {% endif %}
    {% endif %}
    {% if app.token %}
      <div class="mb-3">
        You are logged in as {{ app.token.user.email }}, <a href="{{ path('admin_logout') }}">Logout</a>
      </div>
    {% endif %}
    <img class='mb-4' src="{{ asset('images/logo-correos.png')}}" alt="logo " width="300">
    <h1 class="h3 mb-3 font-weight-normal">Ingrese los datos para iniciar sesión</h1>
    <label class="sr-only" for="inputEmail">Email</label>
    <input type="text" class='form-control mt-1' id="inputUsuario" name="usuario" value="{{ last_username }}" placeholder="Usuario" required autofocus>
    <label for="inputPassword" class="sr-only">Contraseña</label>
    <input type="password" class='form-control mt-1' id="inputPassword" name="password" placeholder="Contraseña" required>
    <button type='button' id='btn-olvidoContrasenia' class='text-primary bg-transparent p-2 rounded border-0 w-100 text-center'>
      ¿Olvidaste la contraseña?
    </button>
    <button class='btn btn-lg btn-primary btn-block mt-2' type='submit'>Iniciar Sesión</button>
    <input type='hidden' name='_csrf_token' value="{{ csrf_token('authenticate') }}" >
    <p class='mt-5 mb-3 text-muted text-center'>Copyright &copy; COOPIDROGAS 2021 - Por: <a href="http://www.waplicaciones.co" target="_blank"><img class="img-responsive mg-top logo-wapli" src="{{ asset('images/waplicaciones.png')}}" width="80px" /></a></p>
  </form>

{% endblock %}

{% block javascripts %}
<script>
    var forgotPassword = `{{ path('password_forgot') }}`;
</script>
  {{ parent() }}
  {{ encore_entry_script_tags('js/login') }}
{% endblock %}