
{# se debe enviar enlace podras reestablecer tu contraseña

#}
{% extends 'base.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
{#  {{ encore_entry_link_tags('js/login') }}#}
{% endblock stylesheets %}
{% block bodylogin %}
<div class="row">
  <div class="col-md-6 offset-md-3">
  <form id='form-recovery' method='get'>
    <img class='mb-4' src="{{ asset('imagess/logo-correos.png')}}" width="300">
    <h1 class="h3 mb-3 font-weight-normal">Ingrese su nueva contraseña</h1>
    <label for="newinputPassword" class="sr-only">Contraseña nueva</label>
    <input type="password" class='form-control mt-1' id="newinputPassword" name="password" placeholder="Nueva Contraseña" required>
    <label for="againnewinputPassword" class="sr-only">Escriba de nuevo la contraseña</label>
    <input type="password" class='form-control mt-1' id="againnewinputPassword" name="password" placeholder="Repita Su Nueva Contraseña" required>
        
        <div class="col-md-4 offset-md-4">
        <button class='btn btn-lg btn-primary btn-block mt-2' type='submit' id="submitrecovery" >Cambiar Contraseña</button>

        <a class="btn btn-outline-secondary" style="text-align:center;display:block;margin-top:10px " href="{{path('admin_login')}}" role="button">Ir a Iniciar Sesion</a>

    <input type='hidden' name='_csrf_token' value="{{ csrf_token('authenticate') }}" >
    <p class='mt-5 mb-3 text-muted text-center'>Copyright &copy; COOPIDROGAS 2021 - Por: <a href="http://www.waplicaciones.co" target="_blank"><img class="img-responsive mg-top logo-wapli" src="{{ asset('images/waplicaciones.png')}}" width="80px" /></a></p>
  </form>
  </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
    var saveNewPassUrl = `{{ path('password_recovery') }}`;
</script>
  {{ parent() }}
  {{ encore_entry_script_tags('js/usuarios/passwordRecovery') }}
{% endblock %}