{% extends 'base.html.twig' %}
{% block stylesheets %}
  {{ parent() }}

<style>

input[type=number]::-webkit-outer-spin-button,

input[type=number]::-webkit-inner-spin-button {

    -webkit-appearance: none;

    margin: 0;

}

 

input[type=number] {

    -moz-appearance:textfield;

}

</style>


{% endblock stylesheets %}
{% block title %}Register New User{% endblock %}



{% block bodylogin %}
<div class="container">
<div class="row justify-content-md-center" >
  <div class="col-6">
  <img class='mb-4' src="{{ asset('imagess/logo-01.png')}}" alt="logo" width="300">
  <p class="h2" class="font-weight-bold">Registrate</p>
<form id="formregister" method="post">
  
  <div class="form-group">
    <label for="InputNombre" class="font-weight-bold">Nombre</label>
    <input type="text" class="form-control" id="InputNombre" aria-describedby="emailHelp" placeholder="Ingresa Tu Nombre" required>
  </div>
  
  <div class="form-group">
    <label for="InputEmail" class="font-weight-bold">Direccion De Correo Electronico</label>
    <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="Ingresa Tu Email" required>
  </div>
  <div class="form-group">
    <label for="InputPassword1" class="font-weight-bold">Contraseña</label>
    <input type="password" class="form-control" id="InputPassword1" placeholder="Ingresa tu contraseña" required>
  </div>
  <div class="form-group">
    <label for="InputPassword2" class="font-weight-bold">Repite Tu Contraseña</label>
    <input type="password" class="form-control " id="InputPassword2" placeholder="Repite tu contraseña" required>
  </div>

  <button type="submit" class="btn btn-primary" id="register_save">Registrarme</button>
</form>
 

</div>
</div>
</div>
{% endblock %}
{% block javascripts %}
<script>
 var register = `{{ path('admin_register_new') }}`;

</script>
  {{ parent() }}
  {{ encore_entry_script_tags('js/registrarUsuarios') }}
{% endblock %}