{% extends 'base.html.twig' %}

{% block title %}Registar Nuevo Usuario{% endblock %}

{% block bodylogin %}
<div class="container">
<div class="row justify-content-md-center" >
  <div class="col-4">
    <img class='mb-4' src="{{ asset('imagess/logo-01.png')}}" alt="logo" width="300">
    <p>{{ message }}</p>
  </div>
</div>
</div>
{% endblock %}
{% block javascripts %}
<script>
 var login = `{{ path('admin_login') }}`;
</script>
  {{ parent() }}
  {{ encore_entry_script_tags('js/registrarUsuarios') }}
{% endblock %}