<div id="myGridError" style="height:400px;width:100%" class="ag-theme-fresh"></div>

{% block javascripts %}
  <script>

    var aDfColumnasError = {{dfColumnas|raw}};
    var aGridButtonsError = [];

    ApiRestURLS.listErroesJson = `{{path('admin_envio_erroes_index_json')}}`;

  </script>
{% endblock %}

