<style>
    .card{
        width:450px;
        border:1px silver solid;
        -moz-border-radius: 9px;
		 -webkit-border-radius:9px;
		 padding: 10px;
    }
    .textSmall{
        font-size: 10px;
        color:#8B1602;
        text-align: center;
    }
    .detalle{
        color:#0070BA;
        text-align: justify;
        texto-justify: inter-palabra;
    }
    .link{
        color:#E56605;
    }
</style>
<div class="card"  style="justify-content:center;text-align:center;margin: 0 auto;padding:40px">
    <h1>Aplicación de envío de correos.</h1>
  <div class="card-header" style="width:70%;margin: 0 auto;justify-content;center;text-align:center">
  {#<img class='mb-4' src="{{ headerImg }}" alt="logo Correos" width="300">#}
    <h3>¡Hola {{ nombre |upper }}!</h3>
  </div>
  <div class="card-body" style="width:80%;margin: 0 auto;justify-content;center;text-align:center">
   <p class="detalle">El Envío con asunto [<strong>{{nombreEnvio | upper }}</strong>] ha finalizado su ejecución para [<strong>{{nDestinatarios}}</strong>] destinatario(s).<br><br></p>
  </div>
</div>