{% extends 'base.html.twig' %}

{% block title %}Correos - Envio{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('js/usuarios') }}
  {{ encore_entry_link_tags('css/grilla') }}
  {{ encore_entry_link_tags('js/envios') }}
  <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('assets/bootstrap-switch/css/bootstrap-switch.min.css') }}" />
  <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('assets/fileinput/css/fileinput.min.css') }}"/>
  {# color: white; #}
  <style>
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
    }

    input[type=number] { 
        -moz-appearance:textfield; 
    }
    a.active{
      background-color: #f8f9fa!important;
    }
  </style>

{% endblock stylesheets %}

{% block header %}
  {% include 'app/adminNavbar.html.twig' %}
  {% include 'app/menu.html.twig' %}
{% endblock %}

{% block body %}
  <div id="myGrid" style="height: 100%;" class="ag-theme-fresh"></div>


{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script>
    var oGrid;
    var oGridError;
    var aDfColumnas = {{dfColumnas|raw}};
    var aGridButtons = {{aGridButtons|raw}};

    ApiRestURLS.listEnvios = `{{path('admin_envio_json')}}`;
    ApiRestURLS.listEnviosNew = `{{path('admin_envio_new')}}`;
    ApiRestURLS.listEnviosEdit = `{{path('admin_envio_edit')}}`;
    ApiRestURLS.listEnviosDelete = `{{path('admin_envio_delete')}}`;
    ApiRestURLS.listArchivos = `{{path('admin_archivo_adjunto_listar')}}`;
    ApiRestURLS.listDestinatarios = `{{path('admin_envio_destinatario_index')}}`;
    ApiRestURLS.previsualizar = `{{path('admin_envio_vista_previa')}}`;

    ApiRestURLS.listErrores = `{{path('admin_envio_errores_index')}}`;
    ApiRestURLS.confirmarProgramacion = `{{path('admin_envio_confirmarProgramacion', {"idEnvio": 0})}}`;
    ApiRestURLS.cancelarEnvio = `{{path('admin_envio_cancelar_envio')}}`;
    

  </script>
  <script type="text/javascript" src="{{ asset('assets/ckeditor/ckeditor.js') }}"></script>
  <script type="text/javascript" src="{{ asset('assets/bootstrap-switch/js/bootstrap-switch.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('assets/fileinput/js/fileinput.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('assets/fileinput/js/es.js') }}"></script>
  {{ encore_entry_script_tags('js/envios') }}
  
{% endblock %}