{% if frm_msj is defined and frm_msj != null %}
    {{ frm_msj }}
{% endif %}
{{ form_errors(form) }}

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="datosbasicos-tab" data-toggle="tab" href="#datosbasicos" role="tab" aria-controls="datosbasicos" aria-selected="true">Datos Basicos</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="cargaArchivo-tab" data-toggle="tab" href="#cargaArchivo" role="tab" aria-controls="cargaArchivo" aria-selected="false">Cargar Archivos</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="verArchivos-tab" data-toggle="tab" href="#verArchivosContent" role="tab" aria-controls="verArchivosContent" aria-selected="false">Ver Archivos</a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="datosbasicos" role="tabpanel" aria-labelledby="datosbasicos-tab">

    <div class="container" style="height: 480px;">

      <form id="formEnvio" autocomplete="off" class="row">

        <div class="col-md-4">

          <div class="row">

            <div class="col-md-12">
              <div class="control-group">
                <label class="control-label" style="margin-top: 0.5em;">{{ form_label(form.asunto) }}</label>
                <div class="controls">
                  {{ form_widget(form.asunto ,{"attr":{"class":"form-control  input-sm"}} ) }}
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="control-group">
                <label class="control-label" style="margin-top: 0.5em;">{{ form_label(form.columnaCombinacion) }}</label>
                <div class="controls">
                  {{ form_widget(form.columnaCombinacion ,{"attr":{"class":"form-control  input-sm"}} ) }}
                </div>
              </div>
            </div>

          </div>

          <div class="row">

            <div class="col-md-12">
              <div class="control-group">
                <label class="control-label" style="margin-top: 0.5em;">{{ form_label(form.grupo) }}</label>
                <div class="controls">
                  {{ form_widget(form.grupo ,{"attr":{"class":"form-control  input-sm"}} ) }}
                </div>
              </div>
            </div>

            {#<div class="col-md-6">
              <div class="control-group">
                <label class="control-label" style="margin-top: 0.5em;">{{ form_label(form.estado) }}</label>
                <div class="controls">
                  {{ form_widget(form.estado ,{"attr":{"class":"form-control  input-sm"}} ) }}
                </div>
              </div>
            </div>#}
            
          </div>

          <div class="row">
            <div class="col-md-12" id="agrupacionAsociado">
              <div class="mt-3">
                <input type="checkbox" class="" name="agruparCorrespondencia" id="agruparCorrespondencia" {%if entity.agruparCorrespondencia == 1%}checked{%endif%} value="1">
                <label class="control-label" style="margin-top: 0.5em;">Agrupar Correspondencia</label>
              </div>
            </div>

            <div class="col-md-12" id="agrupacionProveedor">
              <div class="mt-3">
                <input type="checkbox" name="agruparProveedor" id="agruparProveedor" {%if entity.agruparProveedor == 1%}checked{%endif%} value="1">
                <label class="control-label" style="margin-top: 0.5em;">Agrupar Proveedor</label>
              </div>
            </div>

            <div class="col-md-12" id="envioCopia">
              <div class="mt-3">
                <input type="checkbox" name="enviarCopia" id="enviarCopia" {%if entity.enviarCopia == 1%}checked{%endif%} value="1">
                <label class="control-label" style="margin-top: 0.5em;">Enviar Copia</label>
              </div>
            </div>

          </div>

          
        </div>
        <div class="col-md-8">

          <div class="row">

            <div class="col-12">
              <div class="control-group">
                <label class="control-label" style="margin-top: 0.5em;">{{ form_label(form.contenido) }}</label>
                <div class="controls">
                  {{ form_widget(form.contenido ,{"attr":{"class":"form-control  input-sm"}} ) }}
                </div>
              </div>
            </div>

          </div>
          
        </div>

        <div class="col-md-12">
          <div class="row">
            <div class="col-12 text-center">
               <div class="form-group font-weight-bold m-2 border-top pt-3">
                  {{ form_widget(form.save, { 'label': "Guardar" }) }}
                  <input type='hidden' name='idEnvio' id='idEnvio' value='{{idEnvio}}' />
               </div>
            </div>
         </div>
        </div>
      </form>
      
    </div>

  </div>
  <div class="tab-pane fade" id="cargaArchivo" role="tabpanel" aria-labelledby="cargaArchivo-tab" style="height: 480px;max-height: 500px;overflow: auto;">
    <div class="col-md-12 text-right mt-2">
      <a href="http://correos.coopidrogas.com.co/uploads/archivoCombinacion.csv" target="_blank" class="btn btn-sm btn-primary" type="submit">
        <i class="fa fa-download" aria-hidden="true"></i>
        Descargar Formato Proveedor
      </a> 
      <a href="http://correos.coopidrogas.com.co/uploads/archivoCombinacionAsociados.csv" target="_blank" class="btn btn-sm btn-primary" type="submit">
        <i class="fa fa-download" aria-hidden="true"></i>
        Descargar Formato Asociado
      </a>
    </div>
    

    {{ render(controller('App\\Controller\\ArchivosAdjuntosController::formSubirArchivos', {idEnvio: idEnvio})) }}

  </div>
  <div class="tab-pane fade" id="verArchivosContent" role="tabpanel" aria-labelledby="verArchivos-tab">
    <div class="row">
        <div class="col-md-12 text-center mt-3" id="verArchivos" style="height: 480px;max-height: 500px;overflow: auto;">
        </div>
      </div>
  </div>
</div>



<script type="text/javascript">

  var accion = "{{accion}}";
  ApiRestURLS.mdlCrud = ApiRestURLS.listEnviosEdit;

  $(document).ready(function(){

    //alert("entra 1 ");
    $("#agrupacionProveedor").hide();
    $("#agrupacionAsociado").hide();

    verificacionGrupo();


    $("#envio_grupo").change(function(){

      verificacionGrupo();


    });

    if($("#agruparCorrespondencia").is(':checked')){
      $("#envio_columnaCombinacion").attr("disabled", true);
    }

    $("#agruparCorrespondencia").change(function(){
      if($(this).is(':checked')){
        $("#agruparProveedor").prop( "checked", false );
        $("#envio_columnaCombinacion").attr("disabled", true);

        $('.ocultarCSV').hide();
        $('.ocultarOtros').show();
        $('#archivosAdjuntos').bootstrapSwitch('state', false);
      }else{
        $("#envio_columnaCombinacion").removeAttr("disabled");
      }
      
    });


    $("#agruparProveedor").change(function(){
      if($(this).is(':checked')){
        $("#agruparCorrespondencia").prop( "checked", false );
        $("#envio_columnaCombinacion").removeAttr("disabled");
      }
      
    });


  });

  function verificacionGrupo(){

    var tipoGrupo = $("#envio_grupo").find(':selected').data('tipo');

    if(tipoGrupo == 'No Aplica'){

      $("#envio_columnaCombinacion").removeAttr("disabled");
      $("#agruparCorrespondencia").prop( "checked", false );

      $("#agruparProveedor").removeAttr("disabled");
      $("#agrupacionProveedor").show();

      $("#agruparCorrespondencia").attr("disabled", true);
      $("#agrupacionAsociado").hide();

      $("#archivosAdjuntos").bootstrapSwitch('disabled',false);

    }else{
      $("#agruparProveedor").prop( "checked", false );

      $("#agruparCorrespondencia").removeAttr("disabled");
      $("#agrupacionAsociado").show();

      $("#agruparProveedor").attr("disabled", true);
      $("#agrupacionProveedor").hide();
    }

  }

</script>