{% if frm_msj is defined and frm_msj != null %}
    {{ frm_msj }}
{% endif %}
{{ form_errors(form) }}
<div class="container">

  <form id="formEnvio" autocomplete="off" class="row">

    <div class="col-md-4">

      <div class="row">

        <div class="col-md-12">
          <div class="control-group">
            <label class="control-label" style="margin-top: 0.5em;">{{ form_label(form.asunto) }}</label>
            <div class="controls">
              {{ form_widget(form.asunto ,{"attr":{"class":"form-control  input-sm"}} ) }}
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="control-group">
            <label class="control-label" style="margin-top: 0.5em;">{{ form_label(form.columnaCombinacion) }}</label>
            <div class="controls">
              {{ form_widget(form.columnaCombinacion ,{"attr":{"class":"form-control  input-sm"}} ) }}
            </div>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-md-12">
          <div class="control-group">
            <label class="control-label" style="margin-top: 0.5em;">{{ form_label(form.grupo) }}</label>
            <div class="controls">
              {{ form_widget(form.grupo ,{"attr":{"class":"form-control  input-sm"}} ) }}
            </div>
          </div>
        </div>

        {#<div class="col-md-12">
          <div class="control-group">
            <label class="control-label" style="margin-top: 0.5em;">{{ form_label(form.estado) }}</label>
            <div class="controls">
              {{ form_widget(form.estado ,{"attr":{"class":"form-control  input-sm"}} ) }}
            </div>
          </div>
        </div>#}
        
      </div>

      <div class="row">
        <div class="col-md-12" id="agrupacionAsociado">
          <div class="mt-3">
            <input type="checkbox" class="" name="agruparCorrespondencia" id="agruparCorrespondencia" value="1">
            <label class="control-label" style="margin-top: 0.5em;">Agrupar Correspondencia</label>
          </div>
        </div>

        <div class="col-md-12" id="agrupacionProveedor">
          <div class="mt-3">
            <input type="checkbox" name="agruparProveedor" id="agruparProveedor" value="1">
            <label class="control-label" style="margin-top: 0.5em;">Agrupar Proveedor</label>
          </div>
        </div>

        <div class="col-md-12" id="envioCopia">
          <div class="mt-3">
            <input type="checkbox" name="enviarCopia" id="enviarCopia" value="1">
            <label class="control-label" style="margin-top: 0.5em;">Enviar Copia</label>
          </div>
        </div>

      </div>
      
    </div>

    <div class="col-md-8">
      <div class="row">
        <div class="col-12">
          <div class="control-group">
            <label class="control-label" style="margin-top: 0.5em;">{{ form_label(form.contenido) }}</label>
            <div class="controls">
              {{ form_widget(form.contenido ,{"attr":{"class":"form-control  input-sm"}} ) }}
            </div>
          </div>
        </div>

      </div>
      
    </div>
     <div class="col-md-12">
       <div class="row">
        <div class="col-12 text-center">
           <div class="form-group font-weight-bold m-2 border-top pt-3">
              {{ form_widget(form.save, { 'label': "Guardar" }) }}
              {% if accion == 'editar' %}
                <input type='hidden' name='idEnvio' id='idEnvio' value='{{idEnvio}}' />
              {% endif %}
           </div>
        </div>
      </div>
     </div>
  </form>
</div>


<script type="text/javascript">

  var accion = "{{accion}}";
  ApiRestURLS.mdlCrud = ApiRestURLS.listEnviosNew;

  if( accion == 'editar' ){
    ApiRestURLS.mdlCrud = ApiRestURLS.listEnviosEdit;
  }


  $(document).ready(function(){

    //alert("entra 1 ");
    $("#agrupacionProveedor").hide();
    $("#agrupacionAsociado").hide();

    verificacionGrupo();


    $("#envio_grupo").change(function(){

      verificacionGrupo();


    });

    
    $("#agruparCorrespondencia").change(function(){
      if($(this).is(':checked')){
        $("#agruparProveedor").prop( "checked", false );
        $("#envio_columnaCombinacion").attr("disabled", true);
      }else{
        $("#envio_columnaCombinacion").removeAttr("disabled");
      }
      
    });


    $("#agruparProveedor").change(function(){
      if($(this).is(':checked')){
        $("#agruparCorrespondencia").prop( "checked", false );
        $("#envio_columnaCombinacion").removeAttr("disabled");
      }
      
    });


  });

  function verificacionGrupo(){

    var tipoGrupo = $("#envio_grupo").find(':selected').data('tipo');

    if(tipoGrupo == 'No Aplica'){

      $("#envio_columnaCombinacion").removeAttr("disabled");
      $("#agruparCorrespondencia").prop( "checked", false );

      $("#agruparProveedor").removeAttr("disabled");
      $("#agrupacionProveedor").show();

      $("#agruparCorrespondencia").attr("disabled", true);
      $("#agrupacionAsociado").hide();

    }else{
      $("#agruparProveedor").prop( "checked", false );

      $("#agruparCorrespondencia").removeAttr("disabled");
      $("#agrupacionAsociado").show();

      $("#agruparProveedor").attr("disabled", true);
      $("#agrupacionProveedor").hide();
    }

  }

  
</script>