<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<style>
    #modalGlobal.modal.fade.show{display: flex !important;} 
    #modalGlobal.modal.fade.show .modal-body{overflow: auto;}
    #modalGlobal.modal.fade.show .modal-content{height: 100%;}
    #modalGlobal.modal.fade.show .modal-content .form-group{margin: 0}
</style>
<div class="container" >
    {% if infoDetalle %}
        <div class="row">
            <div class="col-md">
                <div class="form-group">
                    Seleccione el destinatario a visualizar
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                    <select class="form-control" id="modal-search">
                        <option value="">.:: Seleccionar ::.</option>
                        {% for det in infoDetalle%}
                            <option value="{{entity.id}}-{{det.id}}">{{ det.codigo }} - {{ det.nit }} - {{ det.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                    <div class="alert alert-primary" role="alert" style="margin: 0; padding: 8px 16px;">
                        <i class="mr-2 fas fa-info-circle"></i>
                        {% if entity.agruparProveedor == 1 %}
                            Agrupado Por Proveedor
                        {% elseif entity.grupo.clasificacion == 'Droguerías' %}
                            No Agrupado - Droguerías.
                        {% elseif entity.grupo.clasificacion == 'Asociados' %}
                            No Agrupado - Asociados.
                        {% elseif entity.grupo.clasificacion == 'No Aplica' %}
                            No Agrupado - Proveedores.
                        {% endif  %}
                    </div>
                </div>
            </div>
        </div>
        <hr />
    {% endif %}
    <div class="row" >
        
    </div>
</div>
<script type="text/javascript">
$(document).ready(function(){
    
});
</script>