<style>
    #modalGlobal.modal.fade.show{display: flex !important;} 
    #modalGlobal.modal.fade.show .modal-body{overflow: auto;}
    #modalGlobal.modal.fade.show .modal-content{height: 100%;}
    #modalGlobal.modal.fade.show .modal-content .form-group{margin: 0}
    .tablaDatos {margin:0px;padding:0px;width:100%;border:1px solid #7f7f7f;-moz-border-radius-bottomleft:0px;-webkit-border-bottom-left-radius:0px;border-bottom-left-radius:0px;-moz-border-radius-bottomright:0px;-webkit-border-bottom-right-radius:0px;border-bottom-right-radius:0px;-moz-border-radius-topright:0px;-webkit-border-top-right-radius:0px;border-top-right-radius:0px;-moz-border-radius-topleft:0px;-webkit-border-top-left-radius:0px;border-top-left-radius:0px;}.tablaDatos table{border-collapse:collapse;border-spacing:0;width:100%;height:100%;margin:0px;padding:0px;}.tablaDatos tr:last-child td:last-child {-moz-border-radius-bottomright:0px;-webkit-border-bottom-right-radius:0px;border-bottom-right-radius:0px;}.tablaDatos table tr:first-child td:first-child {-moz-border-radius-topleft:0px;-webkit-border-top-left-radius:0px;border-top-left-radius:0px;.tablaDatos table tr:first-child td:last-child {-moz-border-radius-topright:0px;-webkit-border-top-right-radius:0px;border-top-right-radius:0px;}.tablaDatos tr:last-child td:first-child{-moz-border-radius-bottomleft:0px;-webkit-border-bottom-left-radius:0px;border-bottom-left-radius:0px;}.tablaDatos tr:hover td{}}.tablaDatos tr:nth-child(odd){background-color:#aad4ff;}.tablaDatos tr:nth-child(even){background-color:#ffffff;}.tablaDatos td{vertical-align:middle;border:1px solid #7f7f7f;border-width:0px 1px 1px 0px;text-align:left;padding:7px;font-size:10px;font-family:Arial;font-weight:normal;color:#000000;}.tablaDatos tr:last-child td{border-width:0px 1px 0px 0px;}.tablaDatos tr td:last-child{border-width:0px 0px 1px 0px;}.tablaDatos tr:last-child td:last-child{border-width:0px 0px 0px 0px;}.tablaDatos tr:first-child td{background:-o-linear-gradient(bottom,#005fbf 5%,#005fbf 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0.05, #005fbf),color-stop(1,#005fbf));background:-moz-linear-gradient( center top, #005fbf 5%, #005fbf 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf",endColorstr="#005fbf");background:-o-linear-gradient(top,#005fbf,005fbf);background-color:#005fbf;border:0px solid #7f7f7f;text-align:center;border-width:0px 0px 1px 1px;font-size:14px;font-family:Arial;font-weight:bold;color:#ffffff;}.tablaDatos tr:first-child:hover td{background:-o-linear-gradient(bottom,#005fbf 5%,#005fbf 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0.05,#005fbf),color-stop(1,#005fbf));background:-moz-linear-gradient(center top,#005fbf 5%,#005fbf 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf",endColorstr="#005fbf");background:-o-linear-gradient(top,#005fbf,005fbf);background-color:#005fbf;}.tablaDatos tr:first-child td:first-child{border-width:0px 0px 1px 0px;}.tablaDatos tr:first-child td:last-child{border-width:0px 0px 1px 1px;}
    hr.solid {
        border-top: 2px solid #023A78;
    }
    hr.hr-text {
  position: relative;
    border: none;
    height: 1px;
    background: #999;
}

hr.hr-text::before {
    content: attr(data-content);
    display: inline-block;
    background: #fff;
    font-weight: bold;
    font-size: 0.85rem;
    color: #999;
    border-radius: 30rem;
    padding: 0.2rem 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
</style>
<div class="container" >
    {% if infoDetalle %}
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    Seleccione el destinatario a visualizar
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                    <select class="form-control" id="detalleDestinatario">
                        <option value="">.:: Seleccionar ::.</option>
                        {% for destinatario in infoDetalle.destinatarios %}
                            <option value="{{ destinatario.id }}" {{ destinatarioId == destinatario.id ? "selected" : "" }}>{{ destinatario|filter((b, index) => b != "" and not (index in ["id", "tipo"]))|join(', ') }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="alert alert-primary" role="alert" style="margin: 0; padding: 8px 16px;">
                        <i class="mr-2 fas fa-info-circle"></i>
                        {% if entity.agruparProveedor == 1 %}
                            Agrupado Por Proveedor
                        {% elseif entity.grupo.clasificacion == 'Droguerías' %}
                            No Agrupado - Droguerías.
                        {% elseif entity.grupo.clasificacion == 'Asociados' %}
                            No Agrupado - Asociados.
                        {% elseif entity.grupo.clasificacion == 'No Aplica' %}
                            No Agrupado - Proveedores.
                        {% endif  %}
                    </div>
                </div>
            </div>
        </div>
        <hr class="solid">
    {% endif %}
    <div class="row" >
        {# CONTENIDO #}
        <div class="col-md">
            <div class="row">
                <div class="col-md-12">
                    <span class="font-weight-bold text-uppercase">{{ entity.asunto }}</span>
                </div>
                <div class="col-md-12">
                    <span class="font-weight-bold text-secondary">Para: </span>

                    {% if infoDetalle and infoDetalle.para %}
                        {% for destinatario in infoDetalle.para %}
                            <span class="mr-2 font-weight-light Small">{{destinatario.nombre}} &lt;{{destinatario.email1}}&gt;,</span>
                        {% endfor %}
                    {% elseif destinatario %}
                        {% if usuarioTipo == 'proveedor'%}
                            <span class="font-weight-light Small">{{destinatario.empresa}} - {{destinatario.nombre}} &lt;{{destinatario.email1}}&gt;</span>
                        {% else %}
                            {% if tipoGrupo == 1 %}
                                {{destinatario.asociado}} - {{destinatario.emailAsociado}}
                            {% else %}
                                {{destinatario.drogueria}} - {{destinatario.email}}
                            {% endif %}
                        {% endif %}
                    {% else %}
                        Coopidrogas => coopidrogas@coopidrogas.com.co
                    {% endif %}
                    <hr data-content="MENSAJE" class="hr-text">
                </div>
                <div class="col-md-12">
                    {{ contenido|raw }}
                </div>
                {% if adjuntos%}
                    <hr>
                    <div class="col-md-12">
                        <span class="text-warning">Adjuntos:</span><br>
                        {%for adjunto in adjuntos%}<i class="fas fa-paperclip"></i><a href="../../adjuntos/{{entity.id}}/{{carpetaAdmin}}/otros/{{adjunto}}"> {{adjunto}}</a><br>{%endfor%}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>






