{% extends 'base.html.twig' %}

{% block title %}Correos - Registro Actividad{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('js/registroActividad') }}
  {{ encore_entry_link_tags('css/grilla') }}
  {# color: white; #}
  <style>
    a.active{
      background-color: #f8f9fa!important;
    }
  </style>
  {# {{ encore_entry_link_tags('js/usuarios') }} #}
{% endblock stylesheets %}

{% block header %}
  {% include 'app/adminNavbar.html.twig' %}
  {% include 'app/menu.html.twig' %}
{% endblock %}

{% block body %}
  <div id="myGrid" style="height: 100%;" class="ag-theme-fresh"></div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script>

    var oGrid;
    var aDfColumnas = {{dfColumnas|raw}};
    var aGridButtons = {{aGridButtons|raw}};
    ApiRestURLS.listRegistroActividad = `{{ path('admin_registro_actividad_admin_json') }}`;
    ApiRestURLS.downloadRegistroActividadCsv = `{{ path('admin_registro_actividad_admin_download') }}`;
  </script>
  {{ encore_entry_script_tags('js/registroActividad') }}
{% endblock %}