{% extends 'base.html.twig' %}

{% block title %}Grupos Destinatarios{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('css/grilla') }}

  <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('assets/fileinput/css/fileinput.min.css') }}"/>

  <style type="text/css">
    .asignado-cell{
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .asignado-btn{
      color: blue;
      background-color: transparent;
      border: none;
      height: 25px;
      width: 25px;
      display: flex;
      align-items: center;
      border-radius: 5px;
    }
    .asignado-btn:hover{
      background-color: #F3F4F6;
    }

    html,body{
      width: 100%;
      height: 100%;
    }
  </style>
{% endblock stylesheets %}


{% block header %}
  {% include 'app/adminNavbar.html.twig' %}
  {% include 'app/menu.html.twig' %}
    
  <nav aria-label="breadcrumb" style ="margin-bottom: -1rem; !important; font-size: 13px;">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/admin/grupos">Grupos</a></li>
    <li class="active"> / Tipo [{{infoGrupo.clasificacion}}] / {{infoGrupo.nombre}}</li>
  </ol>
</nav>
{% endblock header %}

{% block body %}

{% if tipoGrilla == 2%}
  <div id="myGridProveedores" style="height: 100%;" class="ag-theme-fresh"></div>
{% else %}
  <div id="myGridAsociados" style="height: 100%;" class="ag-theme-fresh"></div>
{% endif %} 

  <div class="modal fade" tabindex="-1" role="dialog" id="modalGlobalContactos" style="z-index: 1060!important;">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="text-center modal-header text-info">
          <h6 class="modal-title font-weight-bold" id="tituloModalGlobalContactos">...</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="contenidoModalGlobalContactos"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  {% set packages = [1, 2, 3, 4] %}
    <script type="text/javascript">
      const idGrupo = {{ idGrupo }};
      const tipoGrupo = {{ tipoGrupo }};
      const tipoGrilla = {{ tipoGrilla }};
      const infoAsociados = {{ infoAsociados|json_encode|raw }};
      const infoProveedores = {{ infoProveedores|json_encode|raw }};

      ApiRestURLS.agregarAsociados = `{{ path('admin_destinatarios_grupo_agregar_asociados') }}`;
      ApiRestURLS.eliminarAsociados = `{{ path('admin_destinatarios_grupo_eliminar_asociados') }}`;
      ApiRestURLS.cargarAsociados = `{{ path('admin_destinatarios_grupo_cargar_asociados') }}`;
      
      ApiRestURLS.agregarAsociado = `{{ path('admin_destinatarios_grupo_agregar_asociado') }}`;
      ApiRestURLS.cargarAsociadosxls = `{{ path('admin_destinatarios_grupo_cargar_asociados') }}`;
      ApiRestURLS.agregarAsociadosListado = `{{ path('admin_destinatarios_grupo_agregar_asociados_listado') }}`;
      
      ApiRestURLS.descargarFormato = `{{ path('admin_destinatarios_grupo_descargar_asociados') }}`;
      ApiRestURLS.descargarFormatoProveedores = `{{ path('admin_destinatarios_grupo_descargar_proveedores_formato') }}`;
      ApiRestURLS.descargarInformeProveedores = `{{ path('admin_destinatarios_grupo_descargar_proveedores') }}`;
      
      ApiRestURLS.procesarArchivoProveedores = `{{ path('admin_destinatarios_grupo_cargar_proveedores_upload') }}`;
      ApiRestURLS.previsualizarArchivoProveedores = `{{ path('admin_destinatarios_previsualizar_archivo_proveedores') }}`;
      ApiRestURLS.agregarProveedor = `{{ path('admin_grupo_destinatarios_proveedores_asignarProveedor',{ 'idGrupo': idGrupo } ) }}`;

      ApiRestURLS.contactosNew = `{{path('admin_contactos_proveedores_new')}}`;
      ApiRestURLS.contactosEdit = `{{path('admin_contactos_proveedores_edit')}}`;
      ApiRestURLS.contactosDelete = `{{path('admin_contactos_proveedores_delete')}}`;


    </script>
    <script type="text/javascript" src="{{ asset('assets/fileinput/js/fileinput.min.js') }}"></script>
    {{ encore_entry_script_tags('js/grupos/destinatarios') }}
{% endblock javascripts %}


