{% extends 'base.html.twig' %}

{% block title %}Correos - Grupos{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('css/grilla') }}
  {# color: white; #}
  <style>
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
    }

    input[type=number] { 
        -moz-appearance:textfield; 
    }
    a.active{
      background-color: #f8f9fa!important;
    }
  </style>
{% endblock stylesheets %}

{% block header %}
  {% include 'app/adminNavbar.html.twig' %}
  {% include 'app/menu.html.twig' %}
{% endblock %}

{% block body %}
  <div id="myGrid" style="height: 100%; width: 100%;" class="ag-theme-fresh"></div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
    <script>

    var oGrid;
    var aDfColumnas = {{dfColumnas|raw}};
    var aGridButtons = {{aGridButtons|raw}};
    const errors = {{ app.flashes('error')|json_encode|raw }};


    ApiRestURLS.listGrupos = `{{ path('admin_grupo_json') }}`;
    ApiRestURLS.grupoModif = `{{ path('admin_grupo_modif') }}`;
    ApiRestURLS.grupoDelete = `{{ path('admin_grupo_delete') }}`;
    ApiRestURLS.grupoDownload = `{{ path('admin_download_report') }}`;
    ApiRestURLS.grupoDownload = `{{ path('admin_download_report') }}`;

    ApiRestURLS.addDestinatarios = `{{ path('admin_grupo_destinatarios_index', {'idGrupo': '_idGrupo_'})|raw  }}`;

    ApiRestURLS.AsociadosJson = `{{ path('admin_destinatarios_grupo_index_asociados') }}`;

    
  </script>
    {{ encore_entry_script_tags('js/grupos/index') }}
{% endblock %}