{% if frm_msj is defined and frm_msj != null %}
    {{ frm_msj }}
{% endif %}
{{ form_errors(form) }}

<form id="formGrupo" autocomplete="off">
   
   <div class="row">

        {{ form_widget(form.id) }}
      
      <div class="col-12 col-md-6">
         <div class="form-group font-weight-bold">
            {{ form_label(form.nombre) }}&nbsp;<i class="fa fa-asterisk text-danger" aria-hidden="true"></i> :
            {{ form_widget(form.nombre) }}
         </div>
      </div>
      
      <div class="col-12 col-md-6">
         <div class="form-group font-weight-bold">
            {{ form_label(form.clasificacion) }}&nbsp;<i class="fa fa-asterisk text-danger" aria-hidden="true"></i> :
            {{ form_widget(form.clasificacion) }}
         </div>
      </div>

      <div class="col-12 col-md-6">
         <div class="form-group font-weight-bold">
            {{ form_label(form.descripcion) }}&nbsp;<i class="fa fa-asterisk text-danger" aria-hidden="true"></i> :
            {{ form_widget(form.descripcion) }}
         </div>
      </div>
     
      <div class="col-12 text-center">
         <div class="form-group font-weight-bold m-2 border-top pt-3">
            {{ form_widget(form.save, { 'label': "Guardar" }) }}
         </div>
      </div>
   </div>

</form>

<script type="text/javascript">

</script>