
{% block stylesheets %}
  <style>
    .panel-heading {
        padding: 10px;
        background-color: #ececec;
        border-radius: 4px;
        border-bottom: solid 1px #c8c8c8;
        border-right: solid 1px #c8c8c8;
    }
    .panel-body{
        margin-bottom: 10px;
        padding: 20px;
        border-bottom: solid 1px #c8c8c8;
        border-left: solid 1px #c8c8c8;
        border-right: solid 1px #c8c8c8;
    }
    .btn-primary{
        background-color:#02387F !important
    }
  </style>
{% endblock stylesheets %}

<div class="container-fluid" id="contentUpload">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Agregar integrantes al grupo.</h4>
                </div>
                <div class="panel-body">
                    <button id="descargar_formato" target="_blank" class="btn btn-primary btn-sm" type="submit"><i class="fa fa-download" aria-hidden="true"></i>
                        Descargar Formato
                    </button>
                    <small>La información debe estar bien digitada. <br/>
                    La carga del archivo puede tardar varios minutos, tenga paciencia...</small>
                </div>
            </div>
        </div>  
        <form id="form1" action="#" method="post" class="col-xs-12 col-md-12">

            <div class="col-xs-12 col-md-12">
                <div id="btnExamin">
                    <input type="file" required="required" name="form[archivo]" id="form_archivo">
                </div>
            </div>
           
        </form>
    </div>
</div>
<div id="resultados" style="display: none">
    <ul class="nav nav-tabs" id="myTab" role="tablist">

      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Integrantes previos</a>
      </li>
      

      <li class="nav-item" role="presentation">
        <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Integrantes archivo</a>
      </li>

      <li class="nav-item" role="presentation">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">integrantes no encontrados</a>
      </li>
      
    </ul>
    <div class="tab-content" id="myTabContent" style="overflow-y: scroll;height: 400px;">
      <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
          <table class="listado-clientes table" style="display:none">
                <tbody id="listado-clientes-tbody" style="width:100%;display: inline-table;">
                    <tr>
                        <th style=" display: inline-flex; "><input type="checkbox" checked id="confirm-all-clients" class="form-control" style="width:15px;height:15px;">confirmar</th>
                        <th>{{tipoDato}}</th>
                        <th>Nombre</th>
                        <th>Email</th>
                    </tr>
                </tbody>
            </table>
      </div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <table class="table listado-fallido" style="display:none" >
                <tbody id="listado-fallidos-tbody" style="width:100%;display: inline-table;">
                    <tr>
                        <th>{{tipoDato}}</th>
                        <th>Razón</th>
                    </tr>
                </tbody>
            </table>
      </div>
      <div class="tab-pane fade show active" id="contact" role="tabpanel" aria-labelledby="contact-tab">
          <table class="listado-anterior table" style="display:none" >
                <tbody id="listado-anterior-tbody" style="width:100%;display: inline-table;">
                    <tr>
                        <th><input type="checkbox" checked id="confirm-all-previous-clients" class="form-control" style="width:16px;height:16px;"></th>
                        <th>{{tipoDato}}</th>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Razón</th>
                    </tr>
                </tbody>
            </table>
      </div>
    </div>
    <button id="confirmar-clientes" class="btn btn-primary" style="float: right;">Confirmar Clientes</button>

</div>
<script type="text/javascript">

</script>