{% extends 'base.html.twig' %}

{% block title %}Correos - Email de recuperación de contraseña envíado{% endblock %}


{% block bodylogin %}
    <p>Se te ha envíado un correo con un link con el cual podrás reestablecer tu contraseña. Este link expirará en {{ tokenLifetime|date('g') }} horas.</p>
    <p>Si no recibiste el email recuerda revisar tu carpeta de spam o <a href="{{ path('forgot_password_request') }}">intentalo de nuevo </a>.</p>
{% endblock %}
