{% extends 'baseLogin.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
{% endblock stylesheets %}

{% block title %}Correos - Recuperación De Contraseña{% endblock %}

{% block bodylogin %}

    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
<div id="form-recuperar" style="justify-content;center;text-align:center">
<img class='mb-4' src="{{ asset('images/logo-correos.png')}}" width="300">
<p class="h3">Recuperación De Contraseña</p><hr><br>
    <div class="row">

        <div class="col-4"></div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    {{ form_start(requestForm) }}
                    {{ form_row(requestForm.email) }}
                    <div>
                        <small>
                            Ingrese su email y le enviaremos un link con el que podra reestablecer su contraseña.   
                        </small>
                    </div>
                    <br>
                    <button id="sendMail" class="btn btn-primary">Enviar Correo</button>
                    <button type='button' id="btn-iniciarses" class="btn btn-secondary">Iniciar Sesion</button>
                    {{ form_end(requestForm) }}
                </div>
            </div>
            
        </div>
        <div class="col-4"></div>
        
    </div>
    
    <p class='mt-5 mb-3 text-muted text-center'>Copyright &copy; COOPIDROGAS 2021 - Por: <a href="http://www.waplicaciones.co" target="_blank"><img class="img-responsive mg-top logo-wapli" src="{{ asset('images/waplicaciones.png')}}" width="80px" /></a></p>

</div>
{% endblock %}
{% block javascripts %}
<script>
    var forgotPassword = `{{ path('forgot_password_request') }}`;
</script>
  {{ parent() }}
  {{ encore_entry_script_tags('js/usuarios/passwordRecovery') }}
{% endblock %}