{% extends 'baseLogin.html.twig' %}

{% block title %}Correos - Cambia Tu Contraseña{% endblock %}

{% block bodylogin %}
<div style="justify-content;center;text-align:center">
<img class='mb-4' src="{{ asset('images/logo-correos.png')}}" alt="logo Correos" width="300">
<p class="h3">Cambio De Contraseña</p><hr><br>
	<div class="row">
		<div class="col-4"></div>
        <div class="col-4">

        	<div class="card">
				 <div class="card-body">
				    {{ form_start(resetForm) }}
		        	{{ form_row(resetForm.plainPassword) }}
		            <input type="hidden" id="token" value="{{ token }}">
			        <button class="btn btn-primary" id="cambiarContrasena">Cambiar Contraseña</button>
			        <button type="button" id="btn-iniciarses" class="btn btn-secondary">Iniciar Sesión</button>
			    	{{ form_end(resetForm) }}
				 </div>
			</div>

        </div>
        <div class="col-4"></div>
	</div>

</div>
{% endblock %}
{% block javascripts %}
<script>
 var forgotPassword = `{{ path('reset_password_request') }}`;
</script>
  {{ parent() }}
  {{ encore_entry_script_tags('js/usuarios/changepassword') }}
{% endblock %}