{% extends 'base.html.twig' %}

{% block title %}Correos - Usuarios{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('js/usuarios') }}
  {{ encore_entry_link_tags('css/grilla') }}
  {# color: white; #}
  <style>
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
    }

    input[type=number] { 
        -moz-appearance:textfield; 
    }
    a.active{
      background-color: #f8f9fa!important;
    }
  </style>
  {# {{ encore_entry_link_tags('js/usuarios') }} #}
{% endblock stylesheets %}

{% block header %}
  {% include 'app/adminNavbar.html.twig' %}
  {% include 'app/menu.html.twig' %}
  
{% endblock %}

{% block body %}
  <div id="myGrid" style="height: 100%;" class="ag-theme-fresh"></div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script>
    var oGrid;
    var aDfColumnas = {{dfColumnas|raw}};
    var aGridButtons = {{aGridButtons|raw}};

    ApiRestURLS.listUsuarios = `{{ path('admin_usuarios_json') }}`;
    ApiRestURLS.userNew = `{{ path('admin_usuarios_new') }}`;
    ApiRestURLS.userEdit = `{{ path('admin_usuarios_edit') }}`;
    ApiRestURLS.userDelete = `{{ path('admin_usuarios_delete') }}`;
    ApiRestURLS.userPermisos = `{{ path('admin_usuarios_permisos') }}`;
  </script>
  {{ encore_entry_script_tags('js/usuarios') }}
  {#<script src="{{ asset('assets/js/jquery.mask.min.js') }}"></script>#}
{% endblock %}