{% if frm_msj is defined and frm_msj != null %}
    {{ frm_msj }}
{% endif %}
{{ form_errors(form) }}

<form id="formUser" autocomplete="off">
   
   <div class="row">

      <div class="col-12 col-md-6">
         <div class="form-group font-weight-bold">
            {{ form_label(form.usuario) }}&nbsp;<i class="fa fa-asterisk text-danger" aria-hidden="true"></i> :
            {{ form_widget(form.usuario) }}
         </div>
      </div>
      <div class="col-12 col-md-6">
         <div class="form-group font-weight-bold">
            {{ form_label(form.nombre) }}&nbsp;<i class="fa fa-asterisk text-danger" aria-hidden="true"></i> :
            {{ form_widget(form.nombre) }}
         </div>
      </div>


      <div class="col-12 col-md-6">
         <div class="form-group font-weight-bold">
            {{ form_label(form.email) }}&nbsp;<i class="fa fa-asterisk text-danger" aria-hidden="true"></i> :
            {{ form_widget(form.email) }}
         </div>
      </div>

      <input type="hidden" name="user_claveEmail" id="user_claveEmail" value=''>

      <input type="hidden" id="user_rol" name="user_rol" value="admin">

      <div class="col-12 col-md-6">       
        <div class="form-group font-weight-bold">
          {{ form_label(form.estado) }}&nbsp;<i class="fa fa-asterisk text-danger" aria-hidden="true"></i> :
          {{ form_widget(form.estado) }}
        </div>
      </div>

      <div class="col-12 col-md-6">
         <div class="form-group font-weight-bold">
            {{ form_label(form.tipoUsuario) }}&nbsp;<i class="fa fa-asterisk text-danger" aria-hidden="true"></i> :
            {{ form_widget(form.tipoUsuario) }}
         </div>
      </div>
      
      <div class="col-12 text-center">
         <div class="form-group font-weight-bold m-2 border-top pt-3">
            {{ form_widget(form.save, { 'label': "Guardar" }) }}
            {% if accion == 'editar' %}
              <input type='hidden' name='id_user' value='{{idUser}}' />
              <input type='hidden' name='usuario' value='{{usuario}}' />
            {% endif %}
         </div>
      </div>
   </div>

</form>

<script type="text/javascript">

  var accion = "{{accion}}";
  ApiRestURLS.mdlCrud = ApiRestURLS.userNew;

  if( accion == 'editar' ){
    ApiRestURLS.mdlCrud = ApiRestURLS.userEdit;
  }
</script>