
<style>

.card-header.text-white.bg-primary{
    width:100%;
    background-color:#02387F !important;
}
}

.card-body.row{
    padding:0px
}

.card-body.p-1{
    display:none
}

.dropdown-menu.show{
    padding:15px;
    position:relative  !important;
    width:100% !important;
    transform:translate3d(0px, 0px, 0px)!important;
}

</style>

<form id="formPermisos" name='permisos' autocomplete="off">
  <div class="card">
    {% for keyMenuPermisos, menuRol in menuPermisos %}
      {# Para los elementos con submenu  #}
      {% if menuRol[0] is defined %}

        <div class="card-header text-white bg-primary text-center registroactividad">
          {{menuRol[0].label}} <i class="{{menuRol[0].label}}"></i><i class="fas fa-caret-down"></i>
        </div>
        <input type="hidden" value="0" id="isclicked">
        <div class="card-body p-1">
          {# header tab panel #}
          <ul class="nav nav-tabs" id="tab_{{keyMenuPermisos}}" role="tablist">
            {% set bNavActive = true %}
            {% for keyItemMenu, itemMenu in menuRol %}
              {% if keyItemMenu != 0 %}
                <li class="nav-item">
                  <a class="nav-link {% if bNavActive %}active{% endif %}" id="{{keyMenuPermisos ~ '_' ~ itemMenu.idMenu}}-tab" data-toggle="tab" href="#{{keyMenuPermisos ~ '_' ~ itemMenu.idMenu}}" role="tab" aria-controls="{{keyMenuPermisos ~ '_' ~ itemMenu.idMenu}}" aria-selected="true">
                    {{itemMenu.label}}
                  </a>
                </li>
                {% set bNavActive = false %}
              {% endif %}
            {% endfor %}
          </ul>
          {# content tab panel #}
          <div class="tab-content" id="tab_content_{{keyMenuPermisos}}">
            {% set bTabContentActive = true %}
            {% for keyItemMenu, itemMenu in menuRol %}
              {% if keyItemMenu != 0 %}
                <div class="tab-pane fade w-100 {% if bTabContentActive %}show active{% endif %}" id="{{keyMenuPermisos ~ '_' ~ itemMenu.idMenu}}" role="tabpanel" aria-labelledby="{{keyMenuPermisos ~ '_' ~ itemMenu.idMenu}}-tab">
                  <div class="row p-3">
                    {% for key, itemPermiso in itemMenu.permisos %}
                      <div class="col-12">
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" id="{{key}}_{{itemPermiso.idAccion}}" name='permisos[{{itemPermiso.idAccion}}]' value='1' {% if itemPermiso.permiso == 1 %}checked{% endif %}>
                          <label class="custom-control-label" for="{{key}}_{{itemPermiso.idAccion}}">{{itemPermiso.label}}&nbsp;{% for permisoIcono in itemPermiso.iconos %}&nbsp;<i class="{{permisoIcono}}"></i>{% endfor %}</label>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
                {% set bTabContentActive = false %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
      {% else %}
      <div class="dropdown-custom">
        {% for  k , itemMenu in menuRol %}   
          <div class="card-header text-white bg-primary btn btn-default btn-sm dropdown-toggle dropdown-custom-btn" data-toggle="" style="background-color:#02387F">
            {{itemMenu.label}} <i class="{{itemMenu.icono}}"></i>
          </div>
          <div class="card-body row dropdown-menu-custom" id="item-no-{{k}}" style="display:none">
            {% for key , itemPermiso in itemMenu.permisos %}
            <div class="col-12 col-md-10">
              <div "dropdown-item-custom">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="{{key}}_{{itemPermiso.idAccion}}" name='permisos[{{itemPermiso.idAccion}}]' value='1' {% if itemPermiso.permiso == 1 %}checked{% endif %}>
                  <label class="custom-control-label" for="{{key}}_{{itemPermiso.idAccion}}">{{itemPermiso.label}}&nbsp;{% for permisoIcono in itemPermiso.iconos %}&nbsp;<i class="{{permisoIcono}}"></i>{% endfor %}</label>
                </div>
              </div>
              </div>
            {% endfor %}
          </div>
        {% endfor %}
     </div>
      {% endif %}

    {% endfor %}
    <div class="card-footer text-center">
      <button type='submit' class="btn btn-success">
        Guardar <i class="fas fa-save"></i>
      </button>
      <input type='hidden' name='user_id' value='{{idUser}}' />
    </div>
  </div>
</form>

<script>
var click = $("#isclicked").val();
$(".card-header.text-white.bg-primary.text-center.registroactividad").click(()=>{

    if(click == 0 ){
        click = 1;
        $(".card-body.p-1").css("display","block");
    }else{
        click = 0;
        $(".card-body.p-1").css("display","none");
    }
});

</script>