{% extends 'base.html.twig' %}

{% block title %}Correos - Proveedores{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('js/usuarios') }}
  {{ encore_entry_link_tags('css/grilla') }}
  {# color: white; #}
  <style>
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
    }

    input[type=number] { 
        -moz-appearance:textfield; 
    }
    a.active{
      background-color: #f8f9fa!important;
    }
  </style>

{% endblock stylesheets %}

{% block header %}
  {% include 'app/adminNavbar.html.twig' %}
  {% include 'app/menu.html.twig' %}
{% endblock %}

{% block body %}
  <div id="myGrid" style="height: 100%;" class="ag-theme-fresh"></div>

  <div class="modal fade" tabindex="-1" role="dialog" id="modalGlobalContactos" style="z-index: 1060!important;">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="text-center modal-header text-info">
          <h6 class="modal-title font-weight-bold" id="tituloModalGlobalContactos">...</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="contenidoModalGlobalContactos"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script>
    var oGrid;
    var oGridContactos;
    var aDfColumnas = {{dfColumnas|raw}};
    var aDfColumnasContactos = {{dfColumnasContactos|raw}};
    var aGridButtons = {{aGridButtons|raw}};

    ApiRestURLS.listProveedores = `{{path('admin_proveedores_json')}}`;
    ApiRestURLS.proveedorNew = `{{path('admin_proveedores_new')}}`;
    ApiRestURLS.proveedorEdit = `{{path('admin_proveedores_edit')}}`;
    ApiRestURLS.proveedorDelete = `{{path('admin_proveedores_delete')}}`;
    ApiRestURLS.proveedorExportar = `{{path('admin_proveedores_csv')}}`;
    ApiRestURLS.contactosProveedor = `{{path('admin_contactos_proveedores')}}`;
    ApiRestURLS.contactosProveedorJson = `{{path('admin_contactos_proveedores_json')}}`;
    ApiRestURLS.contactosNew = `{{path('admin_contactos_proveedores_new')}}`;
    ApiRestURLS.contactosEdit = `{{path('admin_contactos_proveedores_edit')}}`;
    ApiRestURLS.contactosDelete = `{{path('admin_contactos_proveedores_delete')}}`;

  </script>
  {{ encore_entry_script_tags('js/proveedores') }}
  
{% endblock %}