{% if frm_msj is defined and frm_msj != null %}
    {{ frm_msj }}
{% endif %}
{{ form_errors(form) }}

<form id="formProveedor" autocomplete="off">
   
   <div class="row">

      <div class="col-12 col-md-6">
         <div class="form-group font-weight-bold">
            {{ form_label(form.nit) }}&nbsp;<i class="fa fa-asterisk text-danger" aria-hidden="true"></i> :
            {{ form_widget(form.nit) }}
         </div>
      </div>
      <div class="col-12 col-md-6">
         <div class="form-group font-weight-bold">
            {{ form_label(form.codigo) }}&nbsp;<i class="fa fa-asterisk text-danger" aria-hidden="true"></i> :
            {{ form_widget(form.codigo) }}
         </div>
      </div>

      <div class="col-12 col-md-6">
         <div class="form-group font-weight-bold">
            {{ form_label(form.nombre) }}&nbsp;<i class="fa fa-asterisk text-danger" aria-hidden="true"></i> :
            {{ form_widget(form.nombre) }}
         </div>
      </div>
      <div class="col-12 col-md-6">
         <div class="form-group font-weight-bold">
            {{ form_label(form.representanteLegal) }}&nbsp;<i class="fa fa-asterisk text-danger" aria-hidden="true"></i> :
            {{ form_widget(form.representanteLegal) }}
         </div>
      </div>
      <div class="col-12 col-md-6">
         <div class="form-group font-weight-bold">
            {{ form_label(form.emailRepresentanteLegal) }}&nbsp;<i class="fa fa-asterisk text-danger" aria-hidden="true"></i> :
            {{ form_widget(form.emailRepresentanteLegal) }}
         </div>
      </div>
      <div class="col-12 col-md-6">
         <div class="form-group font-weight-bold">
            {{ form_label(form.telefonoRepresentanteLegal) }}&nbsp;<i class="fa fa-asterisk text-danger" aria-hidden="true"></i> :
            {{ form_widget(form.telefonoRepresentanteLegal) }}
         </div>
      </div>

      <div class="col-12 text-center">
         <div class="form-group font-weight-bold m-2 border-top pt-3">
            {{ form_widget(form.save, { 'label': "Guardar" }) }}
            {% if accion == 'editar' %}
              <input type='hidden' name='id_proveedor' value='{{idProveedor}}' />
            {% endif %}
         </div>
      </div>
   </div>

</form>

<script type="text/javascript">

  var accion = "{{accion}}";
  ApiRestURLS.mdlCrud = ApiRestURLS.proveedorNew;

  if( accion == 'editar' ){
    ApiRestURLS.mdlCrud = ApiRestURLS.proveedorEdit;
  }
</script>