
{% block stylesheets %}
  <style>
    .panel-heading {
        padding: 10px;
        background-color: #ececec;
        border-radius: 4px;
        border-bottom: solid 1px #c8c8c8;
        border-right: solid 1px #c8c8c8;
    }
    .panel-body{
        margin-bottom: 10px;
        padding: 20px;
        border-bottom: solid 1px #c8c8c8;
        border-left: solid 1px #c8c8c8;
        border-right: solid 1px #c8c8c8;
    }
    .btn-primary{
        background-color:#02387F !important
    }
    .chk-destinatarios-confirmar{
        width: 12px;
    }
  </style>
{% endblock stylesheets %}

<div class="container-fluid" id="contentUpload">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Agregar integrantes al grupo.</h4>
                </div>
                <div class="panel-body">
                    <button id="descargar_formato" target="_blank" class="btn btn-primary btn-sm" type="submit"><i class="fa fa-download" aria-hidden="true"></i>
                        Descargar Formato
                    </button>
                    <small>La información debe estar bien digitada. <br/>
                    La carga del archivo puede tardar varios minutos, tenga paciencia...</small>
                </div>
            </div>
        </div>  
        <form id="form1" action="#" method="post" class="col-xs-12 col-md-12">
            <div class="col-xs-6 col-md-12">
                <div class="uk-comment-meta">Solo para proveedores, registrar todos los que coincidan con:<br>
                    <input type="radio" checked="" value="None" name="tipoRegistro"> No Aplica (si los datos corresponden a Proveedores se cargaran por Nit)<br>
                    <input type="radio" value="Nit" name="tipoRegistro"> Nit<br>
                    <input type="radio" value="Email" name="tipoRegistro"> Email
                </div>
            </div>
            <div class="col-xs-12 col-md-12">
                <div id="btnExamin">    
                    <input type="file" required="required" name="form[archivo]" id="form_archivo">
                </div>
            </div>
           
        </form>
    </div>
</div>
<div id="resultados" style="display: none;max-height: 500px;overflow-y: scroll;">
    <div id="tabs-res">
        <ul>
            <li class="listado-clientes" style="display:none"><a href="#tabs-clientes">Listado Clientes</a></li>
            <li class="listado-fallido" style="display:none"><a href="#tabs-error">Registros no encontrados</a></li>
            <li class="listado-anterior" style="display:none" ><a href="#tabs-previous">Registros registrados previamente</a></li>
        </ul>
        <div id="tabs-clientes">
            <table class="listado-clientes table" style="display:none">
                <tbody id="listado-clientes-tbody" style="width:100%;display: inline-table;">
                    <tr>
                        <th></th>
                        <th>Nit</th>
                        <th>Nombre</th>
                        <th>Nombre Asociado</th>
                    </tr>
                </tbody>
            </table>
            <button id="confirmar-clientes" class="btn btn-primary">Confirmasr Clientes</button>
        </div>
        <div id="tabs-error">
            <table class="table listado-fallido" style="display:none" >
                <tbody id="listado-fallidos-tbody"  style="width:100%;display: inline-table;">
                    <tr>
                        <th>Nit</th>
                        <th>Razón</th>
                    </tr>
                </tbody>
            </table>
            
        </div>
        <div id="tabs-previous">
            <table class="listado-anterior table" style="display:none" >
                <tbody id="listado-anterior-tbody"  style="width:100%;display: inline-table;">
                    <tr>
                        <th></th>
                        <th>Nit</th>
                        <th>Razón</th>
                    </tr>
                </tbody>
            </table>
            
        </div>
        
    </div>
</div>
<script type="text/javascript">

</script>