
{% block stylesheets %}
  <style>
    .panel-heading {
        padding: 10px;
        background-color: #ececec;
        border-radius: 4px;
        border-bottom: solid 1px #c8c8c8;
        border-right: solid 1px #c8c8c8;
    }
    .panel-body{
        margin-bottom: 10px;
        padding: 20px;
        border-bottom: solid 1px #c8c8c8;
        border-left: solid 1px #c8c8c8;
        border-right: solid 1px #c8c8c8;
    }
    .btn-primary{
        background-color:#02387F !important
    }
    .chk-destinatarios-confirmar{
        width: 12px;
    }
  </style>
{% endblock stylesheets %}

<div class="container-fluid" id="contentUpload">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Agregar integrantes al grupo.</h4>
                </div>
                <div class="panel-body">
                    <button id="descargar_formato" target="_blank" class="btn btn-primary btn-sm" type="submit"><i class="fa fa-download" aria-hidden="true"></i>
                        Descargar Formatos
                    </button>
                    <small>La información debe estar bien digitada. <br/>
                    La carga del archivo puede tardar varios minutos, tenga paciencia...</small>
                </div>
            </div>
        </div>  
        <form id="form1" action="#" method="post" class="col-xs-12 col-md-12">
            <div class="col-xs-6 col-md-12">
                <div class="uk-comment-meta">Solo para proveedores, registrar todos los que coincidan con:<br>
                    <input type="radio" checked="" value="None" name="tipoRegistro"> No Aplica (si los datos corresponden a Proveedores se cargaran por Nit)<br>
                    <input type="radio" value="Nit" name="tipoRegistro"> Nit<br>
                    <input type="radio" value="Email" name="tipoRegistro"> Email
                </div>
            </div>
            <div class="col-xs-12 col-md-12">
                <div id="btnExamin">
                    <input type="file" required="required" name="form[archivo]" id="form_archivo">
                </div>
            </div>
           
        </form>
    </div>
</div>
<div id="resultados" style="display: none" class="container">

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Integrantes Previos</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Integrantes Archivo</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Integrantes No Encontrados</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent" style="overflow-y: scroll;height: 400px;">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

        <table class="listado-clientes table table-sm table-stripped " style="display:none" >
            <tbody id="listado-clientes-actualizados-tbody" style="width:100%;display: inline-table;">
                <tr>
                    <th>Deshabilitar</th>
                    <th>Proveedor</th>
                    <th>Nombre</th>
                    <th>Email</th>
                </tr>
            </tbody>
        </table>
          
      </div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

        <table class="listado-clientes table table-sm table-stripped" style="display:none">
            <tbody id="listado-clientes-insertados-tbody" style="width:100%;display: inline-table;">
                <tr>
                    <th>Proveedor</th>
                    <th>Nombre</th>
                    <th>Email</th>
                </tr>
            </tbody>
        </table>
          
      </div>
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">

        <table class="listado-noEncontrados table table-sm table-stripped" style="display:none">
            <tbody id="listado-noencontrados-tbody" style="width:100%;display: inline-table;">
                <tr>
                    <th>Fila</th>
                    <th>Dato</th>
                    <th>Motivo</th>
                </tr>
            </tbody>
        </table>
          
      </div>
    </div>


    {#<div id="tabs-res" class="row">

        <table class="listado-clientes table col-6 col-sm-6" style="display:none" >
            <tbody id="listado-clientes-actualizados-tbody" style="width:100%;display: inline-table;">
                <tr>
                    <th>Actualizados</th>
                </tr>
            </tbody>
        </table>
    
        <table class="listado-clientes table col-6 col-sm-6" style="display:none">
            <tbody id="listado-clientes-insertados-tbody" style="width:100%;display: inline-table;">
                <tr>
                    <th>Insertados</th>
                </tr>
            </tbody>
        </table>
    </div>#}
</div>
