/* --- --- --- Font Awesome --- --- --- */
@import "~@fortawesome/fontawesome-free/css/all";

/* --- --- --- Bootstrap --- --- --- */
$theme-colors: (
  // "primary-white": #EFF6FC,
  // Cargar un tema de color nuevo a boostrap
);
@import '~bootstrap';

// --- --- --- Utilidades --- --- ---
@import "./utilidades/preload.scss";
@import "~tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css";


/* Ajustes full contenedor */
html, body{
  height: 100%;
  width: 100%;
}

// Menu ajustes
nav{
    background-color: transparent !important;
}
nav>ul.wsmenu-list>li.bg-primary:hover { background-color:transparent !important; }
nav>ul.wsmenu-list>li>span>i {color: #899199 !important; padding-left: 10px;}
nav>ul.wsmenu-list>li>a>b { border-bottom: 5px #899199 !important; border-top: hidden !important; }
nav>ul.wsmenu-list>li>a { border-bottom: hidden !important; border-top: hidden !important; }
nav>ul.wsmenu-list>li.bg-primary { background-color: transparent !important; }
nav>ul.wsmenu-list>li>.wsmenu-submenu>li>a:hover { background-color: white!important; }
