<div class="card"  style="justify-content:center;text-align:center;margin: 0 auto;padding:40px">
  <div class="card-header" style="width:70%;margin: 0 auto;justify-content;center;text-align:center">
  <img class='mb-4' src="{{ headerImg }}" alt="logo Correos" width="300">
    <h1>¡Hola {{ nombre }}!</h1>

  </div>
  <div class="card-body" style="width:80%;margin: 0 auto;justify-content;center;text-align:center">
    <p style="width:80%;justify-content;margin: 0 auto;center;text-align:center">Se ha {%if tipo == 'inicio'%}iniciado{%else%}completado{%endif%} tu búsqueda  {{ nombre_busqueda }} a las {{ hora_fin }}</p>

    <a style="width:80%;justify-content;margin: 0 auto;center;text-align:center" href="{{ link }}">LINK</a>

  </div>
</div>
