<style>
    .card{
        width:450px;
        border:1px silver solid;
    }
    .textSmall{
        font-size: 12px;
        color:#8B1602;
        text-align: center;
        padding:20px;
    }
    .detalle{
        color:#0070BA;
        text-align: justify;
        texto-justify: inter-palabra;
    }
    .user{
        color:#023A78;
        text-decoration: underline wavy red;
        min-width:200px;
    }
    .userDato{
        color:#023A78;
        font-weight:bold;
    }
    .link{
        color:#E56605;
    }
</style>
<div class="card" style="justify-content:center;text-align:center;margin: 0 auto;padding:40px">
  <h1>Aplicación de envío de correos.</h1>
  <div class="card-header" style="width:70%;margin: 0 auto;justify-content;center;text-align:center">
  <img class='mb-4' src="{{ headerImg }}" alt="logo Correos" width="300">
    <h3>¡Hola {{ nombre }}!</h3>
  </div>
  <div class="card-body" style="width:80%;margin: 0 auto;justify-content;center;text-align:center">
  <p class="detalle">Se ha registrado en la aplicación ENVÍO DE CORREOS COOPIDROGAS, a continuación los datos de acceso.
    <div><span class="user">Usuario: </span><span class="userDato">{{ usuario }}</span></div>
    <div><span class="user">Contraseña: </span><span class="userDato">{{ pass }}</span></div>
    <div><a href="{{ url('admin_login') }}" class="link">Haga clic aquí para ingresar a la aplicación.</a></div>
    <div class="textSmall">Si usted desconoce está información haga caso omiso a este correo.</div>
  </p>
  </div>
</div>