{% extends 'base.html.twig' %}

{% block title %}Correos - Destinatarios Envio{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('css/grilla') }}
  {# color: white; #}

  <style>
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0;  
    }

    input[type=number] { 
        -moz-appearance:textfield; 
    }
    a.active{
      background-color: #f8f9fa!important;
    }

    .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
        background:#02387F !important;
    }
    .ui-tabs .ui-tabs-panel {
        padding: .1em 0em !important;
        
    }
    #tabs{
      height: 100%;
      position: absolute;
      width: 100%;   
    }

  </style>

{% endblock stylesheets %}

{% block header %}
  {% include 'app/adminNavbar.html.twig' %}
  {% include 'app/menu.html.twig' %}
  
<nav aria-label="breadcrumb" style ="margin-bottom: -1rem; !important; font-size: 13px;">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/admin/envios">Envios </a></li>
    <li class="breadcrumb-item"> {% if proveedor %}Proveedores - Contactos {%else%}Asociados - Droguerias {%endif%} </li>
    <li class="active"> / Destinatarios del Envio [{{entity.asunto | upper}}]</li>
  </ol>
</nav>

<div class="modal fade" id="modalLg" role="dialog">
  <div class="modal-dialog modal-lg modalProveedores">
    <div class="modal-content">
      <div class="text-center modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="idTituloModalProveedores"></h4>
      </div>
      <div class="modal-body" id="idBodyModalProveedores">

      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modalLgAsociados" role="dialog">
  <div class="modal-dialog modal-lg modalAsociados">
    <div class="modal-content">
      <div class="text-center modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="idTituloModalAsociados"></h4>
      </div>
      <div class="modal-body" id="idBodyModalAsociados">

      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block body %}

{% if proveedor %}
  <div id="myGridProveedores" style="height: 100%;" class="ag-theme-fresh"></div>
{% else %}
  <div id="myGridAsociados" style="height: 100%;" class="ag-theme-fresh"></div>
{% endif %}



{% endblock %}

{% block javascripts %}
  {{ parent() }}
    <script>

        var oGridAsociados;
        var oGrid;
        var oGridProveedores;
        var aDfColumnasAsociado = {{dfColumnasAsociado|raw}};
        var aDfColumnasProveedor = {{dfColumnasProveedor|raw}};
        var idEnvio = {{envioId}};
        var tipoGrupo = {{tipoGrupo}};

        {% if proveedor %}
          {# Proveedor #}
          ApiRestURLS.listDestinatariosProveedor = `{{path('admin_envio_destinatario_proveedor_json')}}`;
          ApiRestURLS.agregarProveedor = `{{path('admin_envio_destinatario_proveedor_agregar')}}`;
          ApiRestURLS.eliminarProveedor = `{{path('admin_envio_destinatario_proveedor_eliminar')}}`;
          ApiRestURLS.exportarReporteProveedor = `{{path('admin_envio_destinatario_proveedor_xls_leidos')}}`;
        {% else %}
          {# Asociado #}
          ApiRestURLS.listDestinatariosAsociados = `{{path('admin_envio_destinatario_asociado_json')}}`;
          ApiRestURLS.agregarAsociado = `{{path('admin_envio_destinatario_asociado_agregar')}}`;
          ApiRestURLS.eliminarAsociado = `{{path('admin_envio_destinatario_asociado_eliminar')}}`;
          ApiRestURLS.exportarReporteAsociado = `{{path('admin_envio_destinatario_proveedor_xls_leidos')}}`;
        {% endif %}


        ApiRestURLS.reenviarCorreo = `{{path('admin_envio_destinatario_reenviar')}}`;


    </script>

    {% if proveedor %}
      {{ encore_entry_script_tags('js/destinatariosProveedores') }}
    {% else %}
      {{ encore_entry_script_tags('js/destinatariosAsociados') }}
    {% endif %}
  
{% endblock %}