<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <title>{% block title %}Correos{% endblock %}</title>
    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
      {{ encore_entry_link_tags('css/loader') }}

    {% endblock %}
  </head>

  <body>

    <!-- LOADER -->
    <div id="loading">
        <div class="loader">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
    </div>

    {% block bodylogin %}{% endblock %}

    <!-- Modal Global -->
    <div class="modal fade" tabindex="-1" role="dialog" id="modalGlobal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header text-center text-info">
            <h6 class="modal-title font-weight-bold" id="tituloModalGlobal">...</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="contenidoModalGlobal"></div>
        </div>
      </div>
    </div>

    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
      <script type="text/javascript" src="{{ asset('assets/menuSlider/js/webslidemenu.js') }}"></script>
    {% endblock %}
  </body>
</html>