<div id="myGridContactos" style="height:400px;width:100%" class="ag-theme-fresh"></div>

{% block javascripts %}
  <script>

    var aDfColumnasContactos = {{dfColumnas|raw}};
    var aGridButtonsContactos = [];

    ApiRestURLS.listContactos = `{{path('admin_contactos_proveedores_json')}}`;
    ApiRestURLS.contactosNew = `{{path('admin_contactos_proveedores_new')}}`;
    ApiRestURLS.contactosEdit = `{{path('admin_contactos_proveedores_edit')}}`;
    ApiRestURLS.contactosDelete = `{{path('admin_contactos_proveedores_delete')}}`;

  </script>
{% endblock %}

