{% if frm_msj is defined and frm_msj != null %}
    {{ frm_msj }}
{% endif %}
{{ form_errors(form) }}

<form id="formContactos" autocomplete="off">
   
   <div class="row">

      <div class="col-12 col-md-6">
         <div class="form-group font-weight-bold">
            {{ form_label(form.idProveedor) }}&nbsp;<i class="fa fa-asterisk text-danger" aria-hidden="true"></i> :
            {{ form_widget(form.idProveedor) }}
         </div>
      </div>
      <div class="col-12 col-md-6">
         <div class="form-group font-weight-bold">
            {{ form_label(form.nombreContacto) }}&nbsp;<i class="fa fa-asterisk text-danger" aria-hidden="true"></i> :
            {{ form_widget(form.nombreContacto) }}
         </div>
      </div>

      <div class="col-12 col-md-6">
         <div class="form-group font-weight-bold">
            {{ form_label(form.ciudad) }}&nbsp;<i class="fa fa-asterisk text-danger" aria-hidden="true"></i> :
            {{ form_widget(form.ciudad) }}
         </div>
      </div>
      <div class="col-12 col-md-6">
         <div class="form-group font-weight-bold">
            {{ form_label(form.email) }}&nbsp;<i class="fa fa-asterisk text-danger" aria-hidden="true"></i> :
            <div id="loading-email" class="spinner-border spinner-border-sm text-primary" role="status">
              <span class="sr-only"></span>
            </div>
            {{ form_widget(form.email) }}

         </div>
      </div>
      <div class="col-12 col-md-6">
         <div class="form-group font-weight-bold">
            {{ form_label(form.telefono) }}&nbsp;<i class="fa fa-asterisk text-danger" aria-hidden="true"></i> :
            {{ form_widget(form.telefono) }}
         </div>
      </div>
      <div class="col-12 col-md-6">
         <div class="form-group font-weight-bold">
            {{ form_label(form.movil) }}&nbsp;<i class="fa fa-asterisk text-danger" aria-hidden="true"></i> :
            {{ form_widget(form.movil) }}
         </div>
      </div>
      <div class="col-12 col-md-6">
         <div class="form-group font-weight-bold">
            {{ form_label(form.idCargo) }}&nbsp;<i class="fa fa-asterisk text-danger" aria-hidden="true"></i> :
            {{ form_widget(form.idCargo) }}
         </div>
      </div>
      <div class="col-12 col-md-6">
         <div class="form-group font-weight-bold">
            {{ form_label(form.idArea) }}&nbsp;<i class="fa fa-asterisk text-danger" aria-hidden="true"></i> :
            {{ form_widget(form.idArea) }}
         </div>
      </div>

      <div class="col-12 text-center">
         <div class="form-group font-weight-bold m-2 border-top pt-3">
            {{ form_widget(form.save, { 'label': "Guardar" }) }}
            {% if accion == 'editar' %}
              <input type='hidden' name='idContacto' id='idContacto' value='{{idContacto}}' />
            {% endif %}
         </div>
      </div>
   </div>

</form>

<script type="text/javascript">

  var accion = "{{accion}}";
  ApiRestURLS.mdlCrud = ApiRestURLS.contactosNew;
  ApiRestURLS.verificacionEmail = `{{path('admin_contactos_proveedores_verificacion_email')}}`;

  if( accion == 'editar' ){
    ApiRestURLS.mdlCrud = ApiRestURLS.contactosEdit;
  }
</script>