
$odd-row-background-color:#d3d7e6;
$secondary-foreground-color: white;
$header-foreground-color: red;
$header-background-color:blue;
$subheader-background-color:blue;
$subheader-toolbar-background-color:blue;
$selected-row-background-color:green;
$range-selection-border-color:#E56605;
$range-selection-background-color:green;
$range-selection-highlight-color:blue;
$selected-tab-underline-color:red;
$header-cell-hover-background-color:red;
//$row-height:20;
@import '~ag-grid-community/dist/styles/ag-grid.css';
@import '~ag-grid-community/dist/styles/ag-theme-fresh.css';
.ag-row .ag-cell {
    display: flex;
    align-items: center;
}
.btn-custon-wa {
    color: #E56605 !important;
    border-color: #E56605 !important;
}
.btn-custon-wa:hover {
    color: #fff !important;
    background-color: #E56605 !important;
    border-color: #E56605 !important;
}
.text-center {
    justify-content: center; /* align horizontal */
}
.ag-header-cell{
    padding:1px !important;
}
.ag-cell{
    padding-left:1px !important;
    padding-right:1px !important;
}

.containerFooterGrid {

    .rowGrid {
        border: 1px solid #8B1602;
        padding: 4px !important;
        .btn-circle {
            border-radius: 25px !important;
        }
        .btn-icon-only.hover-muted:hover {
            color: #999999;
        }
        .btn-icon-only.hover-primary:hover {
            color: #023a78;
        }
        .btn-icon-only.hover-success:hover {
            color: #059c07;
        }
        .btn-icon-only.hover-info:hover {
            color: #0070ba;
        }
        .btn-icon-only.hover-warning:hover {
            color: #e56605;
        }
        .btn-icon-only.hover-danger:hover {
            color: #e72b37;
        }
        .btn-icon-only {
            height: 24px;
            min-width: 24px;
        }
        .btn-default {
            color: #777;
            background-color: #fff;
            border-color: #ccc;
        }
        .btn-icon-only.btn-default {
            padding: 4px 6px 2px 6px;
            font-size: 10px;
        }
        .btn-icon-only.btn-default.btn-muted {
            background-color: #999999;
            color: #FFFFFF;
        }
        .btn+.btn, .tooltip+.btn {
            margin-left: 8px;
        }
        .btn+span {
            margin: 0 25px;
        }
        
    }
}
.ag-tool-panel-wrapper {
    width: 290px !important;
    max-width: 290px !important;
}
.ag-theme-fresh .ag-header-cell {
    border-right: 1px solid white;
    box-sizing: border-box;
    color: white;
    font-size: 15px;
    font-weight: 500;
}
.ag-theme-fresh .ag-header {
    background-image:none;
    background-color:#0070BA !important;
    border-bottom: 1px solid darkgrey !important;
}
.container-fluid .containerFooterGrid{
    background-color:#0070BA !important;
    color:white;
}

/* 
    Estilos subcontenedor fila (MasterDetail) 
*/
/* Ajusta checkbox que no aparezca al borde */
.grid-cell-checkbox-detail > .ag-cell-wrapper {
    margin-left: 10px;
    margin-top: 4px;
}
/* Diseño interfaz contenedor detalle */
.ag-masterdetail-container{
    width: 100%;
    padding: 1.5rem 2rem;
    background-color: #E5E7EB;
    height: 100%;
}
.ag-cell-focus,.ag-cell-no-focus{
    border: 1px solid #8B1602 !important;
}
.ag-cell:focus{
    border: 1px solid #8B1602 !important;
}
.ag-row-selected {
    background-color: #ffe5f0 !important;
}
.ag-pinned-right-header{
    border-left: 2px solid #F7A824 !important;
}
.ag-cell-first-right-pinned{
    border-left: 2px solid #F7A824 !important;
}
.ag-pinned-left-header{
    border-right: 2px solid #F7A824 !important;
}
.ag-cell-last-left-pinned{
    border-right: 2px solid #F7A824 !important;
}