{% extends 'base.html.twig' %}

{% block title %}Correos - Usuarios{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('css/grilla') }}
{% endblock stylesheets %}

{% block header %}
  {% include 'app/adminNavbar.html.twig' %}
  {% include 'app/menu.html.twig' %}
{% endblock %}

{% block body %}
  <div id="myGrid" style="height: 100%;" class="ag-theme-fresh"></div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script>
    var oGrid;
    var aDfColumnas = {{dfColumnas|raw}};
    var aGridButtons = {{aGridButtons|raw}};

    ApiRestURLS.listClientes = `{{ path('admin_clientes_json') }}`;
  </script>
  {{ encore_entry_script_tags('js/clientes') }}
{% endblock %}